<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/compliments/{{compliment._id}}?_method=PUT">
      {{> compliments-form}}
      
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save compliment</button>
      </div>
    </form>
  </div>
</div>
