<div class="jumbotron">
  <p class="lead">{{compliment.compliment}}</p>
  <p>-{{compliment.author}}</p>
  <p>{{compliment.hashtag}}</p>
  <p class="lead">
  </p>
</div>


<h3><center><a href="/">Give me another!</a></center></h3>
